
@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&display=swap');

html{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
